.right-side-bottom{
    display: flex;
    flex-direction: column;
}
.hoursTempDiv{
    width: 100%;
    display: flex;
    gap: 40px;
    /* justify-content: space-between; */
}
.singleHourTempDiv {
    background-color: rgb(212, 212,212,0.4);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width:678px){
    .right-side-bottom{
        width: 100%;
        
        
    }
    .hoursTempDiv{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
        gap: 20px;
    }
}